@import '../../settings';


.board-columns {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  margin: 0 $gap $gap 0
}

.column-drop-preview {
  background-color: rgba(150, 150, 200, 0.1);
  border: 1px dashed #abc;
  margin: 4px;
}

.add-new-column {
  width: 250px;
  height: 40px;
  line-height: 32px;
  padding: 4px 0 4px 15px;
  cursor: pointer;
  margin-left: $gap;
  font-size: 15px;
  font-family: inherit;
  background-color: hsla(0, 0, 100, .24);
  border-radius: $card-border-radius;

  &:hover {
    background-color: hsla(0, 0, 100, .34);
  }
}

.content-add-column {
  padding: 5px;
  margin-left:10px;
  background-color: hsla(0, 0, 100, .34);
  border-radius: $card-border-radius;
  width: 250px;


  .group-btn {
    padding-top: 10px;
    display: flex;
    align-items: center;

    i {
      font-size: 30px;
      padding-left: 10px;
      cursor: pointer;
    }
  }

}


