$board-bg-color: rgb(30, 16, 109);
$navbar-app-bg-color: aqua;
$navbar-board-bg-color:rgb(24, 110, 110);
$card-bg-color:aquamarine;
$gap: 10px;
$column-header-height: 45px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius :3px;

// screen

$screen-lg:1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width:30px)'