@import './settings';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3em;
  font-size: 14px;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.trello-master {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: $board-bg-color;

  img {
    display: block;
    width: calc(100%+ 2* #{$gap});
    height: 70px;
    margin: -$gap 0 $gap -$gap;
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
  }

  .icon {
    font-size: 14px;
    margin-right: 5px;
  }
}

//SignUp

.errors {
  color: red;
  }

  .sign-up-form {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: $gap;
  }

  input {
    outline: none;
  }

  button {
    // color: aliceblue;
    background: aqua;
    border: none;
  }